  
{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <link rel="stylesheet" href="{% static 'css/game.css' %}"> {% block additional_head %}{% endblock %}
</head>
<body>
    <nav class="navbar navbar-dark bg-dark" role="navigation">
        <a class="navbar-brand">Piedra, Papel, Tijera, Lagarto o Spock?</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="colapse navbar-collapse" id="navbarNav">
            <div class="navbar-nav">
                {% if request.user.is_authenticated %}
                    <a class="nav-link" href="/lobby/">Lobby</a></li>
                    <a class="nav-link" href="/logout/">Logout</a></li>
                {% else %}
                    <a class="nav-link" href="/registro/">Register</a></li>
                    <a class="nav-link" href="/login/">Login</a></li>
                {% endif %}
            </div>
            {% if request.user.is_authenticated %}
            <p class="navbar-text pull-right">Hi, {{ request.user }}</p>
            {% endif %}
        </div>
    </nav>
    <div class="container" style="margin-bottom:50px;">
        {% if messages %} 
            {% for message in messages %}
                <div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %}" role="alert">
                    {{ message }}
                </div>
            {% endfor %} 
        {% endif %}
        <!-- MAIN PAGE CONTENT -->
        {% block main_content %}{% endblock %}
    </div>
    <!-- PAGE LEVEL JAVASCRIPT -->
    {% block page_javascript %} {% endblock %}
 
</body>
</html>